{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}newsletter-thanks{% endblock %}

{% block content %}
    {% if success %}
        <h1>{% trans "Thanks for signing up to our newsletter!" %}</h1>
        {% slugurl 'blog' as blog_url %}
        <p>{% blocktrans with blog_url=blog_url %}For more news items check out our <a href="{{ blog_url }}">blog</a>{% endblocktrans %}</p>
    {% else %}
        <h1>{% trans "Call that an email address?" context "Displayed when email address is invalid" %}</h1>
        <p>{% trans "Your address didn't validate." %}</p>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
